# Shelter Animal Outcomes 3

About this attempt:

- Uses XGBoost 
- Predicts on AnimalType, SexuponOutcome, AgeuponOutcome, Breed (I tried without breed since I got better results without breed with RFC but got worse results without it). 
- Excludes training data with missing information 
- Missing ages in test data used the median of train data ages


For more information see [this link](https://www.kaggle.com/c/shelter-animal-outcomes).

In [264]:
from collections import defaultdict

import pandas as pd
import numpy as np

import xgboost as xgb

import warnings
warnings.filterwarnings('ignore')

## Preprocessing

In [265]:
train_data = pd.read_csv('../DATA/train.csv')
class_headers = list(np.unique(train_data.OutcomeType))
class_headers

['Adoption', 'Died', 'Euthanasia', 'Return_to_owner', 'Transfer']

In [266]:
train_data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

color is questionable

OutcomeSubtype is useless

Uncertain about Datetime,

Name seems too difficult to work with now

Breed also seems difficult to work with

May consider removing it

In [267]:
useful_columns = ['OutcomeType','AnimalType',\
                  'SexuponOutcome','AgeuponOutcome','Breed'
                 ]
train_data = train_data[useful_columns]

In [268]:
train_data.isnull().sum()

OutcomeType        0
AnimalType         0
SexuponOutcome     1
AgeuponOutcome    18
Breed              0
dtype: int64

In [269]:
train_data = train_data[train_data.AgeuponOutcome.notnull()]
train_data = train_data[train_data.SexuponOutcome.notnull()]

In [270]:
train_data.isnull().sum()

OutcomeType       0
AnimalType        0
SexuponOutcome    0
AgeuponOutcome    0
Breed             0
dtype: int64

In [271]:
train_data.head()

,OutcomeType,AnimalType,SexuponOutcome,AgeuponOutcome,Breed
0,Return_to_owner,Dog,Neutered Male,1 year,Shetland Sheepdog Mix
1,Euthanasia,Cat,Spayed Female,1 year,Domestic Shorthair Mix
2,Adoption,Dog,Neutered Male,2 years,Pit Bull Mix
3,Transfer,Cat,Intact Male,3 weeks,Domestic Shorthair Mix
4,Transfer,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle

In [272]:
train_data.groupby('Breed').count()

,OutcomeType,AnimalType,SexuponOutcome,AgeuponOutcome
Breed,,,,
Abyssinian Mix,2,2,2,2
Affenpinscher Mix,6,6,6,6
Afghan Hound Mix,1,1,1,1
Airedale Terrier,1,1,1,1
Airedale Terrier Mix,5,5,5,5
Airedale Terrier/Labrador Retriever,1,1,1,1
Airedale Terrier/Miniature Schnauzer,1,1,1,1
Akita,3,3,3,3
Akita Mix,11,11,11,11
Akita/Australian Cattle Dog,1,1,1,1
Akita/Chow Chow,1,1,1,1
Akita/German Shepherd,1,1,1,1
Akita/Labrador Retriever,1,1,1,1
Akita/Pit Bull,1,1,1,1
Akita/Siberian Husky,2,2,2,2
Alaskan Husky,2,2,2,2
Alaskan Husky Mix,10,10,10,10
Alaskan Husky/Australian Shepherd,2,2,2,2
Alaskan Husky/Border Collie,1,1,1,1
Alaskan Husky/German Shepherd,1,1,1,1
Alaskan Malamute,1,1,1,1
Alaskan Malamute Mix,5,5,5,5
Alaskan Malamute/Akita,1,1,1,1
Alaskan Malamute/Australian Kelpie,1,1,1,1
Alaskan Malamute/Border Collie,2,2,2,2
Alaskan Malamute/German Shepherd,1,1,1,1
American Bulldog,6,6,6,6
American Bulldog Mix,109,109,109,109
American Bulldog/American Staffordshire Terrier,1,1,1,1
American Bulldog/Chinese Sharpei,1,1,1,1
...,...,...,...,...
Whippet/Borzoi,1,1,1,1
Whippet/Chihuahua Shorthair,1,1,1,1
Whippet/Dachshund,2,2,2,2
Whippet/Jack Russell Terrier,1,1,1,1
Whippet/Labrador Retriever,2,2,2,2
Whippet/Miniature Pinscher,1,1,1,1
Whippet/Shetland Sheepdog,1,1,1,1
Whippet/Whippet,1,1,1,1
Wire Hair Fox Terrier,2,2,2,2
Wire Hair Fox Terrier Mix,12,12,12,12
Wire Hair Fox Terrier/Beagle,2,2,2,2
Wire Hair Fox Terrier/Chihuahua Shorthair,4,4,4,4
Wire Hair Fox Terrier/German Shepherd,1,1,1,1
Wirehaired Pointing Griffon Mix,2,2,2,2
Yorkshire Terrier,24,24,24,24
Yorkshire Terrier Mix,143,143,143,143
Yorkshire Terrier/Border Terrier,3,3,3,3
Yorkshire Terrier/Bruss Griffon,1,1,1,1
Yorkshire Terrier/Cairn Terrier,6,6,6,6
Yorkshire Terrier/Chihuahua Longhair,7,7,7,7
Yorkshire Terrier/Chihuahua Shorthair,9,9,9,9
Yorkshire Terrier/Dachshund Wirehair,1,1,1,1
Yorkshire Terrier/Maltese,4,4,4,4
Yorkshire Terrier/Miniature Poodle,12,12,12,12
Yorkshire Terrier/Miniature Schnauzer,8,8,8,8
Yorkshire Terrier/Norfolk Terrier,1,1,1,1
Yorkshire Terrier/Parson Russell Terrier,1,1,1,1
Yorkshire Terrier/Pomeranian,1,1,1,1
Yorkshire Terrier/Rat Terrier,4,4,4,4
Yorkshire Terrier/Toy Poodle,1,1,1,1

This time we will rework breed data according to the following:

- 1 = purebreed
- 0 = mixbreed

In [273]:
def is_purebreed(breed):
    if 'mix' in breed.lower() or '/' in breed:
        return 0
    else:
        return 1

In [274]:
train_data.Breed = train_data.Breed.apply(is_purebreed)
train_data.head()

       OutcomeType AnimalType SexuponOutcome AgeuponOutcome  Breed
0  Return_to_owner        Dog  Neutered Male         1 year      0
1       Euthanasia        Cat  Spayed Female         1 year      0
2         Adoption        Dog  Neutered Male        2 years      0
3         Transfer        Cat    Intact Male        3 weeks      0
4         Transfer        Dog  Neutered Male        2 years      0

Now lets fix the dates:

In [275]:
train_data.groupby('AgeuponOutcome').count()

                OutcomeType  AnimalType  SexuponOutcome  Breed
AgeuponOutcome
0 years                  22          22              22     22
1 day                    66          66              66     66
1 month                1281        1281            1281   1281
1 week                  146         146             146    146
1 weeks                 171         171             171    171
1 year                 3969        3969            3969   3969
10 months               457         457             457    457
10 years                446         446             446    446
11 months               166         166             166    166
11 years                126         126             126    126
12 years                234         234             234    234
13 years                143         143             143    143
14 years                 97          97              97     97
15 years                 85          85              85     85
16 years                 36          36              36     36
17 years                 17          17              17     17
18 years                 10          10              10     10
19 years                  3           3               3      3
2 days                   99          99              99     99
2 months               3397        3397            3397   3397
2 weeks                 529         529             529    529
2 years                3742        3742            3742   3742
20 years                  2           2               2      2
3 days                  109         109             109    109
3 months               1277        1277            1277   1277
3 weeks                 659         659             659    659
3 years                1823        1823            1823   1823
4 days                   50          50              50     50
4 months                888         888             888    888
4 weeks                 334         334             334    334
4 years                1071        1071            1071   1071
5 days                   24          24              24     24
5 months                652         652             652    652
5 weeks                  11          11              11     11
5 years                 992         992             992    992
6 days                   50          50              50     50
6 months                588         588             588    588
6 years                 670         670             670    670
7 months                288         288             288    288
7 years                 530         530             530    530
8 months                402         402             402    402
8 years                 536         536             536    536
9 months                224         224             224    224
9 years                 288         288             288    288

Many a puppy on this list

In [276]:
def convert_date(age):
    age = age.split()
    age[0] = int(age[0])
    if age[1] == 'day' or age[1] == 'days':
        return age[0]
    elif age[1] == 'week' or age[1] == 'weeks':
        return age[0]*7
    elif age[1] == 'month' or age[1] == 'months':
        return age[0]*30
    elif age[1] == 'year' or age[1] == 'years':
        return age[0]*365
    
train_data.AgeuponOutcome = train_data.AgeuponOutcome.apply(convert_date)

In [277]:
train_data.groupby('AgeuponOutcome').count()

                OutcomeType  AnimalType  SexuponOutcome  Breed
AgeuponOutcome
0                        22          22              22     22
1                        66          66              66     66
2                        99          99              99     99
3                       109         109             109    109
4                        50          50              50     50
5                        24          24              24     24
6                        50          50              50     50
7                       317         317             317    317
14                      529         529             529    529
21                      659         659             659    659
28                      334         334             334    334
30                     1281        1281            1281   1281
35                       11          11              11     11
60                     3397        3397            3397   3397
90                     1277        1277            1277   1277
120                     888         888             888    888
150                     652         652             652    652
180                     588         588             588    588
210                     288         288             288    288
240                     402         402             402    402
270                     224         224             224    224
300                     457         457             457    457
330                     166         166             166    166
365                    3969        3969            3969   3969
730                    3742        3742            3742   3742
1095                   1823        1823            1823   1823
1460                   1071        1071            1071   1071
1825                    992         992             992    992
2190                    670         670             670    670
2555                    530         530             530    530
2920                    536         536             536    536
3285                    288         288             288    288
3650                    446         446             446    446
4015                    126         126             126    126
4380                    234         234             234    234
4745                    143         143             143    143
5110                     97          97              97     97
5475                     85          85              85     85
5840                     36          36              36     36
6205                     17          17              17     17
6570                     10          10              10     10
6935                      3           3               3      3
7300                      2           2               2      2

It may be important to note that there are many unknown sexes

In [278]:
train_data.groupby('SexuponOutcome').count()

                OutcomeType  AnimalType  AgeuponOutcome  Breed
SexuponOutcome
Intact Female          3504        3504            3504   3504
Intact Male            3519        3519            3519   3519
Neutered Male          9779        9779            9779   9779
Spayed Female          8819        8819            8819   8819
Unknown                1089        1089            1089   1089

It may also be important to note that the classes are pretty imbalanced

In [279]:
train_data.groupby('OutcomeType').count()

                 AnimalType  SexuponOutcome  AgeuponOutcome  Breed
OutcomeType
Adoption              10769           10769           10769  10769
Died                    197             197             197    197
Euthanasia             1553            1553            1553   1553
Return_to_owner        4785            4785            4785   4785
Transfer               9406            9406            9406   9406

Need to convert the string data to numerical

In [280]:
# This function operates in place
def map_str_to_int(df,col_name):
    categories = list(enumerate(np.unique(df[col_name])))
    map_dict = { name : i for i, name in categories }              
    df[col_name] = df[col_name].map( lambda x: map_dict[x]).astype(int)

In [281]:
#map_str_to_int(train_data,'Breed')
map_str_to_int(train_data,'AnimalType')
map_str_to_int(train_data,'SexuponOutcome')
map_str_to_int(train_data,'OutcomeType')

In [282]:
train_data.head()

   OutcomeType  AnimalType  SexuponOutcome  AgeuponOutcome  Breed
0            3           1               2             365      0
1            2           0               3             365      0
2            0           1               2             730      0
3            4           0               1              21      0
4            4           1               2             730      0

## Predict on test data

In [283]:
#[['AnimalType','SexuponOutcome','AgeuponOutcome','Breed']]
train_data2 = np.array(train_data)
train_data = train_data2[:,1:]
label = train_data2[:,0]
label

array([3, 2, 0, ..., 0, 4, 4])

Import and process test data

In [284]:
original_test_data = test_data = pd.read_csv('../DATA/test.csv')

useful_columns = ['AnimalType','SexuponOutcome','AgeuponOutcome','Breed']

test_data2 = test_data[useful_columns]

test_data2.loc[test_data2.AgeuponOutcome.isnull(),'AgeuponOutcome'] = '1 year' #median age
test_data2.AgeuponOutcome = test_data2.AgeuponOutcome.apply(convert_date)
test_data2.Breed = test_data2.Breed.apply(is_purebreed)

map_str_to_int(test_data2,'AnimalType')
map_str_to_int(test_data2,'SexuponOutcome')

test_data2.head()

   AnimalType  SexuponOutcome  AgeuponOutcome  Breed
0           1               0             300      0
1           1               3             730      0
2           0               2             365      0
3           1               1             120      0
4           1               2             730      0

In [285]:
test_data = np.array(test_data2)

#### XGBOOST

In [286]:
dtrain = xgb.DMatrix(train_data,label=label)
dtest = xgb.DMatrix(test_data)
param = {'max_depth':6, #depth of tree
         'eta':0.1,  #step shrinkage size
         'silent':0,  #verbose
         'objective':'multi:softprob',  #soft max for multiclass with prob of each class
         'num_class':5, #number of classes
         'eval_metric':'mlogloss', #evaluate with logloss for multiclass
         'nthread':4 #use 4 threads
         } 
#consider playing with gamma in the above parameters

num_round = 200
watchlist  = [(dtrain,'train')]
bst = xgb.train(param, dtrain, num_round, watchlist)

[0]	train-mlogloss:1.511683
[1]	train-mlogloss:1.432516
[2]	train-mlogloss:1.366634
[3]	train-mlogloss:1.310697
[4]	train-mlogloss:1.262502
[5]	train-mlogloss:1.220779
[6]	train-mlogloss:1.184210
[7]	train-mlogloss:1.152169
[8]	train-mlogloss:1.123914
[9]	train-mlogloss:1.098784
[10]	train-mlogloss:1.076475
[11]	train-mlogloss:1.056597
[12]	train-mlogloss:1.038864
[13]	train-mlogloss:1.022989
[14]	train-mlogloss:1.008775
[15]	train-mlogloss:0.995996
[16]	train-mlogloss:0.984534
[17]	train-mlogloss:0.974175
[18]	train-mlogloss:0.964834
[19]	train-mlogloss:0.956391
[20]	train-mlogloss:0.948774
[21]	train-mlogloss:0.941831
[22]	train-mlogloss:0.935530
[23]	train-mlogloss:0.929821
[24]	train-mlogloss:0.924596
[25]	train-mlogloss:0.919817
[26]	train-mlogloss:0.915443
[27]	train-mlogloss:0.911449
[28]	train-mlogloss:0.907777
[29]	train-mlogloss:0.904414
[30]	train-mlogloss:0.901303
[31]	train-mlogloss:0.898452
[32]	train-mlogloss:0.895772
[33]	train-mlogloss:0.893298
[34]	train-mlogloss:0.891021
[35]	train-mlogloss:0.888897
[36]	train-mlogloss:0.886925
[37]	train-mlogloss:0.885111
[38]	train-mlogloss:0.883421
[39]	train-mlogloss:0.881831
[40]	train-mlogloss:0.880378
[41]	train-mlogloss:0.879017
[42]	train-mlogloss:0.877753
[43]	train-mlogloss:0.876581
[44]	train-mlogloss:0.875468
[45]	train-mlogloss:0.874418
[46]	train-mlogloss:0.873433
[47]	train-mlogloss:0.872536
[48]	train-mlogloss:0.871695
[49]	train-mlogloss:0.870896
[50]	train-mlogloss:0.870142
[51]	train-mlogloss:0.869429
[52]	train-mlogloss:0.868739
[53]	train-mlogloss:0.868080
[54]	train-mlogloss:0.867458
[55]	train-mlogloss:0.866879
[56]	train-mlogloss:0.866339
[57]	train-mlogloss:0.865825
[58]	train-mlogloss:0.865319
[59]	train-mlogloss:0.864864
[60]	train-mlogloss:0.864433
[61]	train-mlogloss:0.864015
[62]	train-mlogloss:0.863643
[63]	train-mlogloss:0.863263
[64]	train-mlogloss:0.862910
[65]	train-mlogloss:0.862580
[66]	train-mlogloss:0.862259
[67]	train-mlogloss:0.861981
[68]	train-mlogloss:0.861684
[69]	train-mlogloss:0.861404
[70]	train-mlogloss:0.861126
[71]	train-mlogloss:0.860868
[72]	train-mlogloss:0.860628
[73]	train-mlogloss:0.860406
[74]	train-mlogloss:0.860174
[75]	train-mlogloss:0.859966
[76]	train-mlogloss:0.859756
[77]	train-mlogloss:0.859577
[78]	train-mlogloss:0.859392
[79]	train-mlogloss:0.859231
[80]	train-mlogloss:0.859067
[81]	train-mlogloss:0.858896
[82]	train-mlogloss:0.858742
[83]	train-mlogloss:0.858607
[84]	train-mlogloss:0.858438
[85]	train-mlogloss:0.858306
[86]	train-mlogloss:0.858166
[87]	train-mlogloss:0.858054
[88]	train-mlogloss:0.857929
[89]	train-mlogloss:0.857829
[90]	train-mlogloss:0.857731
[91]	train-mlogloss:0.857649
[92]	train-mlogloss:0.857562
[93]	train-mlogloss:0.857482
[94]	train-mlogloss:0.857422
[95]	train-mlogloss:0.857338
[96]	train-mlogloss:0.857249
[97]	train-mlogloss:0.857174
[98]	train-mlogloss:0.857099
[99]	train-mlogloss:0.857018
[100]	train-mlogloss:0.856944
[101]	train-mlogloss:0.856880
[102]	train-mlogloss:0.856791
[103]	train-mlogloss:0.856705
[104]	train-mlogloss:0.856632
[105]	train-mlogloss:0.856589
[106]	train-mlogloss:0.856500
[107]	train-mlogloss:0.856448
[108]	train-mlogloss:0.856385
[109]	train-mlogloss:0.856305
[110]	train-mlogloss:0.856258
[111]	train-mlogloss:0.856184
[112]	train-mlogloss:0.856116
[113]	train-mlogloss:0.856053
[114]	train-mlogloss:0.855996
[115]	train-mlogloss:0.855932
[116]	train-mlogloss:0.855854
[117]	train-mlogloss:0.855797
[118]	train-mlogloss:0.855716
[119]	train-mlogloss:0.855635
[120]	train-mlogloss:0.855592
[121]	train-mlogloss:0.855544
[122]	train-mlogloss:0.855478
[123]	train-mlogloss:0.855426
[124]	train-mlogloss:0.855351
[125]	train-mlogloss:0.855307
[126]	train-mlogloss:0.855249
[127]	train-mlogloss:0.855217
[128]	train-mlogloss:0.855164
[129]	train-mlogloss:0.855098
[130]	train-mlogloss:0.855018
[131]	train-mlogloss:0.854975
[132]	train-mlogloss:0.854935
[133]	train-mlogloss:0.854893
[134]	train-mlogloss:0.854837
[135]	train-mlogloss:0.854800
[136]	train-mlogloss:0.854773
[137]	train-mlogloss:0.854733
[138]	train-mlogloss:0.854657
[139]	train-mlogloss:0.854614
[140]	train-mlogloss:0.854544
[141]	train-mlogloss:0.854514
[142]	train-mlogloss:0.854468
[143]	train-mlogloss:0.854429
[144]	train-mlogloss:0.854396
[145]	train-mlogloss:0.854364
[146]	train-mlogloss:0.854341
[147]	train-mlogloss:0.854319
[148]	train-mlogloss:0.854298
[149]	train-mlogloss:0.854254
[150]	train-mlogloss:0.854225
[151]	train-mlogloss:0.854193
[152]	train-mlogloss:0.854167
[153]	train-mlogloss:0.854134
[154]	train-mlogloss:0.854116
[155]	train-mlogloss:0.854077
[156]	train-mlogloss:0.854047
[157]	train-mlogloss:0.854019
[158]	train-mlogloss:0.853984
[159]	train-mlogloss:0.853950
[160]	train-mlogloss:0.853931
[161]	train-mlogloss:0.853915
[162]	train-mlogloss:0.853887
[163]	train-mlogloss:0.853862
[164]	train-mlogloss:0.853835
[165]	train-mlogloss:0.853802
[166]	train-mlogloss:0.853782
[167]	train-mlogloss:0.853762
[168]	train-mlogloss:0.853734
[169]	train-mlogloss:0.853707
[170]	train-mlogloss:0.853694
[171]	train-mlogloss:0.853671
[172]	train-mlogloss:0.853644
[173]	train-mlogloss:0.853605
[174]	train-mlogloss:0.853594
[175]	train-mlogloss:0.853578
[176]	train-mlogloss:0.853541
[177]	train-mlogloss:0.853516
[178]	train-mlogloss:0.853487
[179]	train-mlogloss:0.853474
[180]	train-mlogloss:0.853456
[181]	train-mlogloss:0.853418
[182]	train-mlogloss:0.853408
[183]	train-mlogloss:0.853379
[184]	train-mlogloss:0.853349
[185]	train-mlogloss:0.853328
[186]	train-mlogloss:0.853301
[187]	train-mlogloss:0.853282
[188]	train-mlogloss:0.853256
[189]	train-mlogloss:0.853232
[190]	train-mlogloss:0.853207
[191]	train-mlogloss:0.853186
[192]	train-mlogloss:0.853159
[193]	train-mlogloss:0.853136
[194]	train-mlogloss:0.853107
[195]	train-mlogloss:0.853074
[196]	train-mlogloss:0.853060
[197]	train-mlogloss:0.853040
[198]	train-mlogloss:0.853029
[199]	train-mlogloss:0.852997

In [287]:
preds = bst.predict(dtest)
result = pd.DataFrame(preds,columns=class_headers, index=original_test_data.ID).reset_index()
result.head()

   ID  Adoption      Died  Euthanasia  Return_to_owner  Transfer
0   1  0.032904  0.001728    0.015115         0.095234  0.855018
1   2  0.536967  0.001835    0.027061         0.255714  0.178422
2   3  0.399488  0.001729    0.022943         0.109058  0.466782
3   4  0.027344  0.009229    0.077792         0.091067  0.794568
4   5  0.452625  0.001646    0.039326         0.303438  0.202965

In [288]:
result.to_csv('./solution003.csv',index=False)

### Outcome

We improved a lot with this one. Most important thing to note was that results were much better when including Breed than without Breed with XGBoost (it was opposite with RFC).

Score: 0.87055